@font-face {
font-family: 'Sofia Pro Regular-Norm-4jpItJLr';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/0c3655d4-f467-40b2-a94c-d28a6218e528/sofia-pro-regular.woff') format('woff');
}